{% extends 'menu_admin.html'%}

{% block content %}

<main class="mt-2 pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase">Tambah Product</h3>
        <nav aria-label="breadcrumb mb-3" style="font-size: 13px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{%url 'kelola_produk'%}">Kelola Product</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Tambah Product</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <form method="post" enctype="multipart/form-data">
          {%csrf_token%}
          <div class="mb-3" style="border-color: #db3e6e;">
            <label for="nama" class="form-label">Nama Product</label>
            <input type="name" class="form-control" id="nama" name="nama">
          </div>
          <div class="mb-3">
            <label for="js" class="form-label">Jenis Layanan</label>
            <select class="form-select" aria-label="Default select example" name="js">
              <option value="Haircare">Haircare</option>
              <option value="Bodycare">Bodycare</option>
              <option value="Skincare">Skincare</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="harga" class="form-label">Harga Product</label>
            <input type="text" class="form-control rupiah" id="harga" name="harga" pattern="[0-9]+" required>
            <small class="form-text text-muted">Masukkan harga produk dalam format angka.</small>
          </div>
          <div class="mb-3">
            <label for="stok" class="form-label">Stok</label>
            <input type="text" class="form-control rupiah" id="stok" name="stok" required>
          </div>
          <div class="mb-3">
            <label for="foto" class="form-label">Foto</label>
            <input type="file" class="form-control" id="foto" name="foto">
          </div>
          <div class="mb-3">
            <label for="deskripsi" class="form-label">Deskripsi</label>
            <textarea class="form-control" id="deskripsi" name="deskripsi" rows="3"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" style="border-radius: 40px;" class="btn btn-primary">Tambah</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script>
  // Menerapkan format rupiah pada input field dengan class 'rupiah'
  $('.rupiah').on('input', function () {
    var value = $(this).val();

    // Menghapus semua karakter selain angka
    value = value.replace(/\D/g, '');

    // Mengubah nilai menjadi format rupiah dengan awalan "Rp"
    var numeralValue = 'Rp ' + numeral(value).format('0,0');

    $(this).val(numeralValue);
  });
</script>


{% endblock content %}