{% extends 'menu_admin.html'%}

{% block content %}
{% load tz %}
{% load humanize %}
<main class="mt-2 pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase mb-3">Kelola jadwal</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-header">
            <span><i class="bi bi-table me-2"></i></span> Tabel Kelola Jadwal
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="">
                <a href="{%url 'tambah_jadwal'%}" class="btn btn-mahida d-flex align-items-center"
                  style="margin-left: 57rem; margin-right:10px;"><ion-icon name="add-circle"
                    size="small"></ion-icon>Tambah Jadwal </a>
              </div>
              <table id="example" class="table table-striped table-bordered data-table" style="width: 100%">
                <thead style="text-align: center;">
                  <tr>
                    <th>No</th>
                    <th>Nama Pegawai</th>
                    <th>Status Kesibukan</th>
                    <th>Jam</th>
                    <th>Tanggal</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  {% for jadwal in jadwal %}
                  <tr>
                    <td>{{jadwal.id}}</td>
                    <td>{{jadwal.nama_pegawai}}</td>
                    <td>{{jadwal.sibuk}}</td>
                    <td>{{jadwal.jam|date:"H:i"}} WIB</td>
                    <td>{{jadwal.tanggal}}</td>
                    <td> <a href="/edit/jadwal/{{ jadwal.id }}/" class="btn btn-primary mb-1"><ion-icon
                          name="create"></ion-icon></a>
                      <form action="/delete/jadwal/{{ jadwal.id }}/" method="post"
                        onsubmit="return confirm('Apakah Anda yakin ingin menghapus pengguna ini?')">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><ion-icon name="trash"></ion-icon></button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}