{% extends 'menu_admin.html'%}

{% block content %}

<main class="mt-2 pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase mb-3">Kelola User</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-header">
            <span><i class="bi bi-table me-2"></i></span> Tabel Kelola User
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="">
                <a href="{%url 'tambah_user'%}" class="btn btn-mahida d-flex align-items-center" style="margin-left: 57rem; margin-right:10px;"><ion-icon name="add-circle"
                    size="small"></ion-icon>Tambah User </a>
              </div>
              <table id="example" class="table table-striped table-bordered data-table" style="width: 100%">
                <thead style="text-align: center;">
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>No Whatsapp</th>
                    <th>Waktu Login</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  {% for user in user %}
                  <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.no_wa}}</td>
                    <td>{{user.last_login}}</td>
                    <td> <a href="/edit/user/{{ user.id }}/" class="btn btn-primary mb-1"><ion-icon name="create"></ion-icon></a>
                      <form action="/delete/user/{{ user.id }}/" method="post"
                        onsubmit="return confirm('Apakah Anda yakin ingin menghapus pengguna ini?')">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><ion-icon name="trash"></ion-icon></button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}