{% extends 'menu_admin.html'%}

{% block content %}

{% load humanize %}
<main class="mt-2 pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase mb-3">Kelola Service</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-header">
            <span><i class="bi bi-table me-2"></i></span> Tabel Kelola Service
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="">
                <a href="{%url 'tambah_service'%}" class="btn btn-mahida d-flex align-items-center" style="margin-left: 57rem; margin-right:10px;"><ion-icon
                    name="add-circle" size="small"></ion-icon>Tambah Service </a>
              </div>
              <table id="example" class="table table-striped table-bordered data-table" style="width: 100%">
                <thead style="text-align: center;">
                  <tr>
                    <th>No</th>
                    <th>Nama Service</th>
                    <th>Jenis Service</th>
                    <th>Foto</th>
                    <th>Harga</th>
                    <th>Deskripsi</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  {% for service in services %}
                  <tr>
                    <td>{{service.id}}</td>
                    <td>{{service.nama_layanan}}</td>
                    <td>{{service.jenis_layanan}}</td>
                    <td>
                      {% if service.foto_service %}
                      <img src="{{ service.foto_service.url }}" style="width: 70%;">
                      {% endif %}
                    </td>
                    <td>Rp.{{service.harga_layanan|stringformat:".0f"|floatformat:0|intcomma}}</td>
                    <td>{{service.deskripsi}}</td>
                    <td> <a href="/edit/service/{{ service.id }}/" class="btn btn-primary mb-1"><ion-icon
                          name="create"></ion-icon></a>
                      <form action="/delete/service/{{ service.id }}/" method="post"
                        onsubmit="return confirm('Apakah Anda yakin ingin menghapus pengguna ini?')">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><ion-icon name="trash"></ion-icon></button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}